<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.725089765922-5gsnncikurfp6d4tj78tmd0acn62jqqq</string>
				<string>app-1-725089765922-ios-e637ecc0acb4abb999d87b</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>MICROSOFT_TENANT_ID</key>
	<string>c1f3dc23-b7f8-48d3-9b5d-2b12f158f01f</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>AUGO needs notification permission to alert you about new posts, reactions, and campus updates.</string>
</dict>
</plist>
