<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AUGO needs your location to show your posts on the campus map and help you discover nearby content.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>AUGO needs your location to show your posts on the campus map and help you discover nearby content.</string>
	<key>NSCameraUsageDescription</key>
	<string>AUGO needs camera access to show AR objects at nearby locations.</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.725089765922-4avllhgdh56mkfqfiq8gdag958agi2h5</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
